{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Transição de Tecnologia{% endblock title %}{% if subtitle %} - {{ subtitle }}{% endif %}</title>
  <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">

  {% block css %}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-5.3.2/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons-1.11.1/bootstrap-icons.min.css' %}"/>
  {% endblock css %}

  {% block css-import %}
  {% endblock css-import %}
</head>

<body {% block bodystyle %}class="d-flex flex-column min-vh-100"{% endblock bodystyle %}>

  {% block layout %}
  {% endblock layout %}

  {% block js %}
    <script src="{% static 'vendor/bootstrap-5.3.2/js/bootstrap.bundle.min.js' %}"></script>
  {% endblock js %}

  {% block js-import %}
  {% endblock js-import %}
</body>

</html>
