{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% block title %}Transição de Tecnologia {% endblock title %}</title>
  <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">

  {% block css %}
    <script src="https://cdn.tailwindcss.com"></script>
  {% endblock }

  {% block css-import %}
  {% endblock css-import %}
</head>

<body>
  {% block layout %}
  {% endblock layout %}

  {% block js-import %}
  {% endblock js-import %}
</body>

</html>
