{% extends 'base.html' %}
{% block layout %}
<div class="container mt-4">
  <h2>Registrar Novo Fornecedor</h2>
  <form role="form" novalidate="novalidate" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="{{ form.name.id_for_label }}" class="form-label">Nome do Fornecedor</label>
          <input
            id="nome"
            name="{{ form.name.name }}"
            type="text"
            class="form-control {% if form.name.errors %}is-invalid{% endif %}"
            placeholder="Insira o nome do fornecedor"
            value="{{ supplier.name }}"
            required
          />
          <div class="invalid-feedback">{{ form.name.errors }}</div>
        </div>
        <div class="mb-3">
          <label for="{{ form.cnpj.id_for_label }}" class="form-label">CNPJ</label>
          <input
            id="{{ form.cnpj.id_for_label }}"
            name="{{ form.cnpj.name }}"
            type="text"
            class="form-control {% if form.cnpj.errors %}is-invalid{% endif %}"
            placeholder="Insira o CNPJ"
            value="{{ supplier.cnpj }}"
            required
          />
          <div class="invalid-feedback">{{ form.cnpj.errors }}</div>
        </div>
        <div class="mb-3">
          <label for="{{ form.telephone.id_for_label }}" class="form-label">Telefone</label>
          <input
            id="{{ form.telephone.id_for_label }}"
            name="{{ form.telephone.name }}"
            type="tel"
            class="form-control {% if form.telephone.errors %}is-invalid{% endif %}"
            placeholder="Insira o telefone"
            value="{{ supplier.telephone }}"
            required
          />
          <div class="invalid-feedback">{{ form.telephone.errors }}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="{{ form.email.id_for_label }}" class="form-label">E-mail</label>
          <input
            id="{{ form.email.id_for_label }}"
            name="{{ form.email.name }}"
            type="email"
            class="form-control {% if form.email.errors %}is-invalid{% endif %}"
            placeholder="Insira o e-mail"
            value="{{ supplier.email }}"
            required
          />
          <div class="invalid-feedback">{{ form.email.errors }}</div>
        </div>
        <div class="mb-3">
          <label for="{{ form.cellphone.id_for_label }}" class="form-label">Celular</label>
          <input
            id="{{ form.cellphone.id_for_label }}"
            name="{{ form.cellphone.name }}"
            type="tel"
            class="form-control {% if form.cellphone.errors %}is-invalid{% endif %}"
            placeholder="Insira o celular"
            value="{{ supplier.cellphone }}"
            required
          />
          <div class="invalid-feedback">{{ form.cellphone.errors }}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="mb-3">
          <label for="{{ form.address.id_for_label }}" class="form-label">Endereço</label>
          <input
            id="{{ form.address.id_for_label }}"
            name="{{ form.address.name }}"
            type="text"
            class="form-control {% if form.address.errors %}is-invalid{% endif %}"
            placeholder="Insira o endereço"
            value="{{ supplier.address }}"
            required
          />
          <div class="invalid-feedback">{{ form.address.errors }}</div>
        </div>
        <div class="mb-3">
          <label for="{{ form.neighborhood.id_for_label }}" class="form-label">Bairro</label>
          <input
            id="{{ form.neighborhood.id_for_label }}"
            name="{{ form.neighborhood.name }}"
            type="text"
            class="form-control {% if form.neighborhood.errors %}is-invalid{% endif %}"
            placeholder="Insira o bairro"
            value="{{ supplier.neighborhood }}"
            required
          />
          <div class="invalid-feedback">{{ form.neighborhood.errors }}</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-3">
          <label for="{{ form.number.id_for_label }}" class="form-label">Número</label>
          <input
            id="{{ form.number.id_for_label }}"
            name="{{ form.number.name }}"
            type="text"
            class="form-control {% if form.number.errors %}is-invalid{% endif %}"
            placeholder="Insira o número"
            value="{{ supplier.number }}"
            required
          />
          <div class="invalid-feedback">{{ form.number.errors }}</div>
        </div>
        <div class="mb-3">
          <label for="{{ form.cep.id_for_label }}" class="form-label">CEP</label>
          <input
            id="{{ form.cep.id_for_label }}"
            name="{{ form.cep.name }}"
            type="text"
            class="form-control {% if form.cep.errors %}is-invalid{% endif %}"
            placeholder="Insira o CEP"
            value="{{ supplier.cep }}"
            required
          />
          <div class="invalid-feedback">{{ form.cep.errors }}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="{{ form.city.id_for_label }}" class="form-label">Cidade</label>
          <input
            id="{{ form.city.id_for_label }}"
            name="{{ form.city.name }}"
            type="text"
            class="form-control {% if form.city.errors %}is-invalid{% endif %}"
            placeholder="Insira a cidade"
            value="{{ supplier.city }}"
            required
          />
          <div class="invalid-feedback">{{ form.city.errors }}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="{{ form.state.id_for_label }}" class="form-label">Estado</label>
          <input
            id="{{ form.state.id_for_label }}"
            name="{{ form.state.name }}"
            type="text"
            class="form-control {% if form.state.errors %}is-invalid{% endif %}"
            placeholder="Insira o estado"
            value="{{ supplier.state }}"
            required
          />
          <div class="invalid-feedback">{{ form.state.errors }}</div>
        </div>
      </div>
    </div>
    <div class="mb-3 mt-3 text-end">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>
</div>
{% endblock layout %}
