{% extends 'base.html' %}
{% block layout %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <h2 class="mb-4">Remover Fornecedor</h2>
            <p class="mb-4">Você tem certeza que deseja excluir o fornecedor "{{ supplier }}"?</p>
            <div class="d-grid gap-2">
              <input type="submit" class="btn btn-danger" value="Delete">
              <a href="{% url 'supplier-list' %}" class="btn btn-outline-secondary">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock layout %}
