{% extends "base.html" %}
{% block layout %}
<div class="container mt-4">
    <h2>Atualizar Cliente</h2>

    <form  role="form" novalidate="novalidate" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.name.id_for_label }}" class="form-label">Nome do Cliente</label>
            <input name="name"
            type="text" class="form-control" id="name" aria-describedby="name" class="form-control {% if form.name.errors %}is-invalid{% endif %}" value="{{ client.name }}"  placeholder="Insira o nome do cliente" required>
        </div>
        <div class="invalid-feedback">{{ form.name.errors }}</div>

        <div class="mb-3">
            <label for="form.email.id_for_label" class="form-label">E-mail</label>
            <input name="email" type="email" class="form-control" id="email" aria-describedby="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" value="{{ client.email }}" placeholder="Insira um e-mail válido" required> 
        </div>
        <div class="invalid-feedback">{{ form.email.errors }}</div>

        <div class="mb-3">
            <label for="form.cellphone.id_for_label" class="form-label">Celular</label>
            <input name="cellphone" type="text" class="form-control" id="cellphone" aria-describedby="cellphone" class="form-control {% if form.cellphone.errors %}is-invalid{% endif %}" value="{{ client.cellphone }}" placeholder="Insira um celular" required>
        </div>
        <div class="invalid-feedback">{{ form.cellphone.errors }}</div>

        <div class="mb-3">
            <label for="form.rg.id_for_label" class="form-label">RG</label>
            <input name="rg" type="text" class="form-control" id="rg" aria-describedby="rg" class="form-control {% if form.rg.errors %}is-invalid{% endif %}" value="{{ client.rg }}" placeholder="Insira o RG"required>
        </div>
        <div class="invalid-feedback">{{ form.rg.errors }}</div>

        <div class="mb-3">
            <label for="form.cpf.id_for_label" class="form-label">CPF</label>
            <input name="cpf" type="text" class="form-control" id="cpf" aria-describedby="cpf" class="form-control {% if form.cpf.errors %}is-invalid{% endif %}" value="{{ client.cpf }}" placeholder="Insira o CPF" required>
        </div>
        <div class="invalid-feedback">{{ form.cpf.errors }}</div>

        <div class="mb-3">
            <label for="form.cep.id_for_label" class="form-label">CEP</label>
            <input name="cep" type="text" class="form-control" id="cep" aria-describedby="cep" class="form-control {% if form.cep.errors %}is-invalid{% endif %}" value="{{ client.cep }}" placeholder="Insira o CEP" required>
        </div>
        <div class="invalid-feedback">{{ form.cep.errors }}</div>

        <div class="mb-3 mt-3 text-end">
            <button type="submit" class="btn btn-success">Atualizar</button>
        </div>

    </form>
</div>
{% endblock layout %}