<tr>
    <td>
        <p style="margin-left: 90px; font-size: 20px; font-family: sans-serif;">
            Dados do Cliente
        </p>
    </td>
</tr>
<table>


    <tr>
        <td>
            <p style="margin-left: 90px; font-size: 20px; font-family: sans-serif;">
                Código:
            </p>
            <input style="margin-left: 90px;" type="number">
            <button>Pesquisar</button>
        </td>
    </tr>
    <tr>
        <td>
            <p style="margin-left: 90px; font-size: 20px; font-family: sans-serif;">
                Nome:
                {{ form.name }}
            </p>
            <input style="margin-left: 90px;" type="text">
        </td>
    </tr>
    <tr>
        <td>
            <p style="margin-left: 90px; font-size: 20px; font-family: sans-serif;">
                E-mail:
            </p>
            <input style="margin-left: 90px;" type="number">
        </td>
    </tr>
    <tr>
        <td>
            <p style="margin-left: 90px; font-size: 20px; font-family: sans-serif;">
                Celular:
            </p>
            <input style="margin-left: 90px;" type="number">
        </td>
    </tr>
    <tr>
        <td>
            <p style="margin-left: 90px; font-size: 20px; font-family: sans-serif;">
                Telefone:
            </p>
            <input style="margin-left: 90px;" type="number">
        </td>
    </tr>
    <tr>
        <td>
            <p style="margin-left: 90px; font-size: 20px; font-family: sans-serif;">
                RG:
            </p>
            <input style="margin-left: 90px;" type="number">
        </td>
    </tr>
    <tr>
        <td>
            <p style="margin-left: 90px; font-size: 20px; font-family: sans-serif;">
                CPF:
            </p>
            <input style="margin-left: 90px;" type="number">
        </td>
    </tr>
    <tr>
        <td>
            <p style="margin-left: 90px; font-size: 20px; font-family: sans-serif;">
                CEP:
            </p>
            <input style="margin-left: 90px;" type="number">
        </td>
    </tr>
</table>

<table style="margin-left: 90px;">
    <tr>
        <td>
            <button>+ NOVO</button>
        </td>
        <td>
            <button>SALVAR</button>
        </td>
        <td>
            <button>EDITAR</button>
        </td>
        <td>
            <button>EXCLUIR</button>
        </td>
    </tr>
</table>