{% extends 'layout.html' %}

{% block content %}
<section class="d-flex align-items-center justify-content-center vh-100">
  <div class="card p-4 rounded shadow">
    {% if form.non_field_errors %}
    <span class="alert-text"> Seu usuário ou senha estão incorretos</span>
    {% endif %}
    <h1> Login </h1>

    <form role="form" novalidate="novalidate" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <input
          name="username"
          type="text"
          class="form-control {% if form.username.errors %}is-invalid{% endif %}"
          placeholder="Nome de usuário"
          aria-label="Nome de usuário"
          autocomplete="off"
        />
        <div class="invalid-feedback">{{ form.username.errors }}</div>
      </div>
      <div class="mb-3">
        <input
          name="password"
          type="password"
          class="form-control {% if form.password.errors %}is-invalid{% endif %}"
          placeholder="Senha"
          aria-label="Senha"
          autocomplete="off"
        />
        <div class="invalid-feedback">{{ form.password.errors }}</div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary mx-auto">Entrar</button>
      </div>
    </form>
  </div>
</section>
{% endblock content %}
