{% extends 'base.html' %} {% block layout %}
<div class="container mt-4">
  <h2>Atualizar Produto</h2>
  <form role="form" novalidate="novalidate" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="{{ form.name.id_for_label }}" class="form-label">Nome do Produto</label>
      <input
        id="productName"
        name="name"
        type="text"
        class="form-control {% if form.name.errors %}is-invalid{% endif %}"
        placeholder="Insira o nome do produto"
        value="{{ product.name }}"
        required
      />
      <div class="invalid-feedback">{{ form.name.errors }}</div>
    </div>
    <div class="mb-3">
      <label for="{{ form.description.id_for_label }}" class="form-label">Descrição</label>
      <input
        id="productDescription"
        name="description"
        type="text"
        class="form-control {% if form.description.errors %}is-invalid{% endif %}"
        placeholder="Insira uma descrição"
        value="{{ product.description }}"
        required
      />
      <div class="invalid-feedback">{{ form.description.errors }}</div>
    </div>
    <div class="mb-3">
      <label for="{{ form.price.id_for_label }}" class="form-label">Preço</label>
      <input
        id="productPrice"
        name="price"
        type="text"
        class="form-control {% if form.price.errors %}is-invalid{% endif %}"
        placeholder="Insira um preço"
        value="{{ product.price|floatformat:2 }}"
        step="0.01"
        required
      />
      <div class="invalid-feedback">{{ form.price.errors }}</div>
    </div>
    <div class="mb-3">
      <label for="{{ form.quantity.id_for_label }}" class="form-label">Quantidade</label>
      <input
        id="productQuantity"
        name="quantity"
        type="number"
        class="form-control {% if form.quantity.errors %}is-invalid{% endif %}"
        placeholder="Insira a quantidade em estoque"
        value="{{ product.quantity }}"
        required
      />
      <div class="invalid-feedback">{{ form.quantity.errors }}</div>
    </div>
    <div class="mb-3 mt-3 text-end">
      <button type="submit" class="btn btn-success">Atualizar</button>
    </div>
  </form>
</div>
{% endblock layout %}
